<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8">
    <title>Absence</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>

<body>
    <header>
        <h1>Register of absences</h1>
        <img src="/images/REGISTER_OF_ABSENCES_LOGO.png" alt="Register of absences Logo" class="main-logo">
    </header>
    <nav>
        <ul>
            <li><a href="/views/index.htmlx.html">Strona główna</a></li>
            <li><a href="/views/pages/pages/absence/list.html">Nieobecności</a></li>
            <li><a href="/views/pages/pages/employee/list.html">Pracownicy</a></li>
            <li><a href="/views/pages/pages/reason/list.html" class="active">Powody</a></li>
        </ul>
    </nav>

    <main>
        <h2>Szczegóły powodów</h2>

        <form class="form">
            <label for="reasonName">Typ nieobecności: <span class="symbol-required"></span></label>
            <input type="text" name="reasonName" id="reasonName" value="Urlop" disabled />
            <span id="errorreasonName" class="errors-text"></span>

            <label for="salaryPercentage">% Wynagrodzenia: <span class="symbol-required"></span></label>
            <input type="number" name="salaryPercentage" id="salaryPercentage" value="100" disabled />
            <span id="errorsalaryPercentage" class="errors-percent"></span>
        </form>

        <a href="/views/pages/pages/reason/form-edit.html" class="action-button-gotoEdit">Edytuj</a>


        <h2>Nieobecności</h2>

        <table class="table-list">
            <thead>

                <tr>
                    <th>Pracownik</th>
                    <th class="non-essential-row">Data OD</th>
                    <th>Data DO</th>
                    <th>Akceptacja</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jan, Andrzej Kowalski</td>
                    <td class="non-essential-row">2022-10-10</td>
                    <td>2022-10-14</td>
                    <td>Tak</td>
                </tr>
                <tr>
                    <td>Jan, Andrzej Kowalski</td>
                    <td class="non-essential-row">2022-10-31</td>
                    <td>2022-11-05</td>
                    <td>Nie</td>
                </tr>

            </tbody>
        </table>

        <div>
            <a href="list.ejs" class="action-button-goBack">Powrót</a>
        </div>
    </main>

    <footer>
        Patryk Parulski, s17427
    </footer>
</body>

</html>