<%- include('../../fragments/header.ejs') %>

<main>
    <h2>Lista pracowników</h2>
    <table class="table-list">
        <thead>

        <tr>
            <th>Typ nieobecności</th>
            <th>% Wynagrodzenia</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>Urlop</td>
            <td>100</td>
            <td>
                <ul class="list-actions">
                    <li>
                        <a href="/views/pages/pages/reason/form-details.html"
                           class="list-actions-button-details">Szczegóły</a>
                        <a href="/views/pages/pages/reason/form-edit.html" class="list-actions-button-edit">Edytuj</a>
                        <a href="/views/pages/pages/reason/form-delete.html" class="list-actions-button-delete">Usuń</a>
                    </li>
                </ul>
            </td>
        </tr>

        <tr>
            <td>Zwolnienie lekarskie</td>
            <td>80</td>
            <td>
                <ul class="list-actions">
                    <li>
                        <a href="/views/pages/pages/reason/form-details.html"
                           class="list-actions-button-details">Szczegóły</a>
                        <a href="/views/pages/pages/reason/form-edit.html" class="list-actions-button-edit">Edytuj</a>
                        <a href="/views/pages/pages/reason/form-delete.html" class="list-actions-button-delete">Usuń</a>
                    </li>
                </ul>
            </td>
        </tr>


        </tbody>
    </table>
    <p><a href="/views/pages/pages/reason/form-create.html" class="button-add">Dodaj nowy typ nieobecności</a></p>
</main>

<%- include('../../fragments/footer.ejs') %>