<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8">
    <title>Absence</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>

<body>
    <header>
        <h1>Register of absences</h1>
        <img src="/images/REGISTER_OF_ABSENCES_LOGO.png" alt="Register of absences Logo" class="main-logo">
    </header>
    <nav>
        <ul>
            <li><a href="/views/index.htmlx.html">Strona główna</a></li>
            <li><a href="/views/pages/pages/absence/list.html">Nieobecności</a></li>
            <li><a href="/views/pages/pages/employee/list.html">Pracownicy</a></li>
            <li><a href="/views/pages/pages/reason/list.html" class="active">Powody</a></li>
        </ul>
    </nav>
    <div id="delete-info" class="info"><img src="/images/deleteICON.png" alt="Delete icon" width="25px">Rekord usuniety
        pomyślnie</div>
    <div id="update-info" class="info"><img src="/images/updateICON.png" alt="Update icon" width="25px">Rekord
        zaktualizowany pomyślnie</div>
    <div id="insert-info" class="info"><img src="/images/addICON.png" alt="Add icon" width="25px">Rekord dodany
        pomyślnie</div>

    <main>
        <h2>Lista pracowników</h2>
        <table class="table-list">
            <thead>

                <tr>
                    <th>Typ nieobecności</th>
                    <th>% Wynagrodzenia</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>Urlop</td>
                    <td>100</td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="/views/pages/pages/reason/form-details.html"
                                    class="list-actions-button-details">Szczegóły</a>
                                <a href="/views/pages/pages/reason/form-edit.html" class="list-actions-button-edit">Edytuj</a>
                                <a href="/views/pages/pages/reason/form-delete.html" class="list-actions-button-delete">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td>Zwolnienie lekarskie</td>
                    <td>80</td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="/views/pages/pages/reason/form-details.html"
                                    class="list-actions-button-details">Szczegóły</a>
                                <a href="/views/pages/pages/reason/form-edit.html" class="list-actions-button-edit">Edytuj</a>
                                <a href="/views/pages/pages/reason/form-delete.html" class="list-actions-button-delete">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>



            </tbody>
        </table>
        <p><a href="/views/pages/pages/reason/form-create.html" class="button-add">Dodaj nowy typ nieobecności</a></p>
    </main>

    <footer>
        Patryk Parulski, s17427
    </footer>
</body>

</html>