<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8">
    <title>Absence</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script type="application/javascript" src="/js/validationCommon.js"></script>
</head>

<body>
    <header>
        <h1>Register of absences</h1>
        <img src="/images/REGISTER_OF_ABSENCES_LOGO.png" alt="Register of absences Logo" class="main-logo">
    </header>
    <nav>
        <ul>
            <li><a href="/views/index.htmlx.html">Strona główna</a></li>
            <li><a href="/views/pages/pages/absence/list.html" class="active">Nieobecności</a></li>
            <li><a href="/views/pages/pages/employee/list.html">Pracownicy</a></li>
            <li><a href="/views/pages/pages/reason/list.html">Powody</a></li>
        </ul>
    </nav>

    <main>
        <h2>Edycja nieobecności</h2>

        <form class="form">
            <label for="reasonName">Typ nieobecności: <span class="symbol-required">*</span></label>
            <select id="reasonName" name="reasonName" class="error-select" required>
                <option value=""> Wybierz opcje</option>
                <option value="1" selected>Zwolnienie lekarskie</option>
                <option value="2">Urlop</option>
            </select>
            <span id="errorReasonName" class="errors-text"></span>

            <label for="dateFrom">Data OD: <span class="symbol-required">*</span></label>
            <input type="date" name="dateFrom" id="dateFrom" value="2022-09-05" required />
            <span></span>

            <label for="dateTo">Data DO: <span class="symbol-required">*</span></label>
            <input type="date" name="dateTo" id="dateTo" value="2022-09-09" required />
            <span></span>

            <label for="employee">Pracownik: <span class="symbol-required">*</span></label>
            <select id="employee" name="employee" class="error-select" required>
                <option value=""> Wybierz pracownika</option>
                <option value="1" selected>Jan, Andrzej Kowalski</option>
                <option value="2">Andrzej, Jan Niekowalski</option>
                <option value="3">Michał Testowy</option>
            </select>
            <span></span>

            <label for="isAccepted">Akceptacja: <span class="symbol-required">*</span></label>
            <select id="isAccepted" name="isAccepted" class="error-select" required>
                <option value=""> Wybierz opcje</option>
                <option value="1" selected>Tak</option>
                <option value="2">Nie</option>
            </select>
            <span></span>

            <div class="form-buttons">
                <p id="errorsSummary"></p>
                <!-- tutaj nie chce dzialac link a bez script nie znalazlem rozwiazania -->
                <form action="/views/pages/pages/absence/list-messages.html">
                    <input type="submit" value="Dodaj" class="form-button-submit" />
                </form>
                <a href="/views/pages/pages/absence/list.html" class="form-button-cancel">Anuluj</a>
            </div>
        </form>


    </main>

    <footer>
        Patryk Parulski, s17427
    </footer>
</body>

</html>