<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8">
    <title>Absence</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script type="application/javascript" src="/js/validationCommon.js"></script>
</head>

<body>
    <header>
        <h1>Register of absences</h1>
        <img src="/images/REGISTER_OF_ABSENCES_LOGO.png" alt="Register of absences Logo" class="main-logo">
    </header>
    <nav>
        <ul>
            <li><a href="/views/index.htmlx.html">Strona główna</a></li>
            <li><a href="/views/pages/pages/absence/list.html" class="active">Nieobecności</a></li>
            <li><a href="/views/pages/pages/employee/list.html">Pracownicy</a></li>
            <li><a href="/views/pages/pages/reason/list.html">Powody</a></li>
        </ul>
    </nav>

    <main>
        <h2>Lista nieobecności</h2>
        <p>Brak rekordów do wyświetlenia.</p>
        <p><a href="/views/pages/pages/absence/form-create.html" class="button-add">Dodaj nową nieobecność</a></p>
    </main>

    <footer>
        Patryk Parulski, s17427
    </footer>
</body>

</html>