<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8">
    <title>Absence</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>

<body>
    <header>
        <h1>Register of absences</h1>
        <img src="/images/REGISTER_OF_ABSENCES_LOGO.png" alt="Register of absences Logo" class="main-logo">
    </header>
    <nav>
        <ul>
            <li><a href="/views/index.htmlx.html">Strona główna</a></li>
            <li><a href="/views/pages/pages/absence/list.html">Nieobecności</a></li>
            <li><a href="/views/pages/pages/employee/list.html" class="active">Pracownicy</a></li>
            <li><a href="/views/pages/pages/reason/list.html">Powody</a></li>
        </ul>
    </nav>

    <main>
        <h2>Usuń pracownika</h2>

        <form class="form">
            <label for="firstName">Imię: </label>
            <input type="text" name="firstName" id="firstName" value="Jan" disabled />
            <span id="errorFirstName"></span>

            <label for="secondName">Drugie imię: </label>
            <input type="text" name="secondName" id="secondName" value="Andrzej" disabled />
            <span id="errorSecondName"></span>

            <label for="lastName">Nazwisko: </label>
            <input type="text" name="lastName" id="lastName" value="Kowalski" disabled />
            <span id="errorLastName"></span>

            <div class="form-buttons">
                <p id="errorsSummary"></p>
                <input type="submit" value="Usuń" class="form-button-delete" formaction="#popupDelete" />
                <a href="/views/pages/pages/employee/list.html" class="form-button-goBack">Powrót</a>
            </div>

        </form>
    </main>

    <div id="popupDelete" class="overlay">
        <div class="popup">
            <img src="/images/deleteICON.png" alt="Delete icon">
            <h2>Czy na pewno chcesz usunąć tego pracownika?</h2>
            <a href="/views/pages/pages/employee/list-messages.html" class="form-button-delete">Usuń</a>
            <a href="/views/pages/pages/employee/form-delete.html" class="form-button-goBack">Powrót</a>
            <a class="close" href="/views/pages/pages/absence/list.html">&times;</a>
        </div>
    </div>

    <footer>
        Patryk Parulski, s17427
    </footer>
</body>

</html>