<%- include('../../fragments/header.ejs') %>


<main>
    <h2>Lista pracowników</h2>
    <table class="table-list">
        <thead>

        <tr>
            <th>Imię</th>
            <th>Drugie imię</th>
            <th>Nazwisko</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>Jan</td>
            <td>Andrzej</td>
            <td>Kowalski</td>
            <td>
                <ul class="list-actions">
                    <li>
                        <a href="/views/pages/pages/employee/form-details.html"
                           class="list-actions-button-details">Szczegóły</a>
                        <a href="/views/pages/pages/employee/form-edit.html" class="list-actions-button-edit">Edytuj</a>
                        <a href="/views/pages/pages/employee/form-delete.html"
                           class="list-actions-button-delete">Usuń</a>
                    </li>
                </ul>
            </td>
        </tr>

        <tr>
            <td>Andrzej</td>
            <td>Jan</td>
            <td>Niekowalski</td>
            <td>
                <ul class="list-actions">
                    <li>
                        <a href="/views/pages/pages/employee/form-details.html"
                           class="list-actions-button-details">Szczegóły</a>
                        <a href="/views/pages/pages/employee/form-edit.html" class="list-actions-button-edit">Edytuj</a>
                        <a href="/views/pages/pages/employee/form-delete.html"
                           class="list-actions-button-delete">Usuń</a>
                    </li>
                </ul>
            </td>
        </tr>

        <tr>
            <td>Michal</td>
            <td></td>
            <td>Testowy</td>
            <td>
                <ul class="list-actions">
                    <li>
                        <a href="/views/pages/pages/employee/form-details.html"
                           class="list-actions-button-details">Szczegóły</a>
                        <a href="/views/pages/pages/employee/form-edit.html" class="list-actions-button-edit">Edytuj</a>
                        <a href="/views/pages/pages/employee/form-delete.html"
                           class="list-actions-button-delete">Usuń</a>
                    </li>
                </ul>
            </td>
        </tr>

        <tr>
            <td>Kazimierz</td>
            <td></td>
            <td>Tetmajer</td>
            <td>
                <ul class="list-actions">
                    <li>
                        <a href="/views/pages/pages/employee/form-details.html"
                           class="list-actions-button-details">Szczegóły</a>
                        <a href="/views/pages/pages/employee/form-edit.html" class="list-actions-button-edit">Edytuj</a>
                        <a href="/views/pages/pages/employee/form-delete.html"
                           class="list-actions-button-delete">Usuń</a>
                    </li>
                </ul>
            </td>
        </tr>

        <tr>
            <td>Janina</td>
            <td>Anna</td>
            <td>Bąk</td>
            <td>
                <ul class="list-actions">
                    <li>
                        <a href="/views/pages/pages/employee/form-details.html"
                           class="list-actions-button-details">Szczegóły</a>
                        <a href="/views/pages/pages/employee/form-edit.html" class="list-actions-button-edit">Edytuj</a>
                        <a href="/views/pages/pages/employee/form-delete.html"
                           class="list-actions-button-delete">Usuń</a>
                    </li>
                </ul>
            </td>
        </tr>

        </tbody>
    </table>
    <p><a href="/employee/add" class="button-add">Dodaj nowego pracownika</a></p>
</main>

<%- include('../../fragments/footer.ejs') %>