<ul class="list-actions">
    <li>
        <a href="/views/pages/pages/employee/form-details.html"
           class="list-actions-button-details">Szczegóły</a>
        <a href="/views/pages/pages/employee/form-edit.html"
           class="list-actions-button-edit">Edytuj</a>
        <a href="/views/pages/pages/employee/form-delete.html"
           class="list-actions-button-delete">Usuń</a>
    </li>
</ul>